# Documentation: http://docs.travis-ci.com/user/languages/julia/
language: julia
os:
  - linux
  - osx
julia:
  - 0.6
  - nightly
notifications:
  email: false

matrix:
  allow_failures:
  - julia: nightly

addons:
  apt:
    sources:
      - george-edison55-precise-backports # newer cmake
    packages:
      - cmake
      - cmake-data
# script:
#  - if [[ -a .git/shallow ]]; then git fetch --unshallow; fi
#  - julia -e 'Pkg.clone("https://github.com/tkoolen/MathOptInterface.jl.git"); Pkg.checkout("MathOptInterface", "tk/osqp")'
#  - julia -e 'Pkg.clone(pwd()); Pkg.build("OSQP"); Pkg.test("OSQP"; coverage=true)'
after_success:
  # # push coverage results to Coveralls
  # - julia -e 'cd(Pkg.dir("OSQP")); Pkg.add("Coverage"); using Coverage; Coveralls.submit(Coveralls.process_folder())'
  # push coverage results to Codecov
  - julia -e 'cd(Pkg.dir("OSQP")); Pkg.add("Coverage"); using Coverage; Codecov.submit(Codecov.process_folder())'
